apdev-flights-ws-3-upto 10.8/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<american-flights-api:config name="American_Flights_API_Config" doc:name="American Flights API Config" doc:id="4d74ae4f-e859-4095-bac0-f7915914ada0" property_host="${american.host}" property_port="${american.port}" property_protocol="${american.protocol}" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6f3db93b-247b-455a-81b8-f42ab44e5a36" basePath="${training.basepath}" >
		<http:request-connection host="${training.host}" port="${training.port}" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4f0e5b75-6e61-460a-9c60-fef2f1a5e945" >
		<wsc:connection wsdlLocation="${delta.wsdl}" service="${delta.service}" port="${delta.port}" >
			<reconnection >
				<reconnect />
			</reconnection>
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="getflights" doc:id="d43afaac-5142-498c-9629-68749327e322" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="68869407-431b-4c10-9737-e3e7b2db6b28" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="af4816c4-d067-458e-8cb9-fc26b3e6a891" name="setCode"/>
		<validation:is-true doc:name="Is true" doc:id="3caefd4a-3df1-48e9-9dfa-bdcba6481cc0" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="d6a8ac0b-b9f8-4d82-9c57-1f5366c869a1" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="6f839fad-0507-494f-ba43-104250814985" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="edabc226-3a3e-4ba7-804a-16b5a850478b" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="6785a76f-fa5d-4c46-bee0-5ead96b9de8f" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="e25b77f2-15a7-4106-ba7e-c28537c90aef" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="2fbfa09f-8928-4405-b299-dee341da1dde" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dfe4ddd0-0dc8-40d6-afc0-70c1df414e3f" />
	
			
		
	</flow>
	<flow name="getAllAirlineFlights" doc:id="14d9d2a9-08cb-4185-ad18-5bfc2eb51acb" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="9acf69a7-7059-44e0-86e2-523555ce9426" >
			<route >
				<try doc:name="Try" doc:id="cba23796-b60f-43ab-a484-499bcc968c58" >
					<flow-ref doc:name="getAmericanFlights" doc:id="1192a064-31f7-4a4c-ac82-c28dd884149b" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9c5085cb-8f83-4379-9df3-d6c73e321e5f" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="0b6397f3-21a7-42d2-a1dd-0b549e6e0580" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="d0272f2d-8e7a-48e8-abc4-68afecb45c69" >
					<flow-ref doc:name="getUnitedFlights" doc:id="06326353-33d5-4785-af21-e28df1fd16d5" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1b0404c8-fcf8-4ad1-b487-d5259d7175bb" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="6d4afe6d-d2ae-4558-b21b-901bc3e5595c" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="1c33c737-661b-45d8-b39d-449b4cc5983e" >
					<flow-ref doc:name="getDeltaFlights" doc:id="3c6a64a7-f809-46ac-b40c-f2ed1c185e21" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="931ffce9-86cb-401b-b125-ac50281bf59a" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="09244726-5d18-4f82-b397-90e9d8266b35" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="f475044b-0249-4529-a718-13c75dbafcbd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eecfc26c-3864-444d-bcf6-d2136dd9871d" />
	</flow>
	<sub-flow name="setCode" doc:id="23a5134a-20e6-42ee-ab10-160aae8d78ad" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="325d5888-7e9d-485d-b191-bbacbbe563f2" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="e0bf13ef-c8db-4de9-8a7e-9ef4d9ec12b9" >
		<http:listener doc:name="GET /american" doc:id="32645fe5-4ba0-42a4-9a6a-26aac4430442" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="b031075c-34cf-4019-ab83-8eb53be3f2d8" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="Transform Message" doc:id="d2144186-dfb9-493e-bd6d-6d24409f381c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3430520f-d233-4cb0-83eb-f684c08ca36f" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="50ba0505-3f69-4118-ba1e-f0b553f7312d" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="65b9394e-4de8-4467-b672-063dabde2086">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to "	++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="91c3c658-c60b-4e5e-a107-457cde063ef9" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getUnitedFlights" doc:id="02f8606e-6f20-4364-89cb-637a4d9c0d4c" >
		<http:listener doc:name="GET /united" doc:id="663e84de-a4c6-4c4b-81df-77880e3f25bd" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Get flights" doc:id="af166aca-6066-4b89-a28e-4bd59a7ba143" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="e0f9fac3-f079-417e-b63a-a438c45fa373" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9a4ebc79-0112-400f-95fe-ed7479b6da09" />
	</flow>
	<flow name="getDeltaFlights" doc:id="d9a4e71a-de3e-4524-b715-3eba35b37792" >
		<http:listener doc:name="GET /delta" doc:id="acd62772-2370-4b25-b887-98d32cd8a13d" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="1d6912ab-ba8b-4c1a-a961-94b2f161b265" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="GET flights" doc:id="4edb721f-0ce6-4946-9a5f-62c2f7a6c965" config-ref="Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="" doc:id="7e17e465-9b6e-4a41-954d-dea59535557d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6a9f9c46-a98c-4261-ad24-e1d0a392d8e5" />
	</flow>
</mule>
